html {
    font-size: 16px;
}

body {
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
}

#timeline {
    width: 8000px;
    height: 80%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10%;
    min-height: 60em;
}

.entry {
    display: inline-block;
    width: 120em;
    height: 100%;
    float: left;
    margin-left: 16em;
    margin-right: 16em;
    border: 2px solid;
    border-color: #000;
}

.article {
    position: absolute;
    top: 50%;
    border: 2px solid;
    border-radius: 2em;
    border-color: #000;
    background-color: #CCC;
    padding: 1em;
}


/* --  Simple template -- */
.article.simple {
    height: 36em;
    width: 52em;
    margin-left: 32em;
    margin-top: -19em;
}

.simple div {
    position: absolute;
    left: 21em;
    margin-left: 1em;
    margin-right: 1em;
}

.simple img {
    position: absolute;
}

.simple h1 {
    text-align: center;
}

/* --  Montage template -- */
.article.montage {
    height: 56em;
    width: 108em;
    margin-left: 5em;
    margin-top: -29em;
}

.montage img#topleft {
    position: absolute;
}

.montage img#topcenter {
    position: absolute;
    left: 38em;
}

.montage img#topright {
    position: absolute;
    left: 76em;
}

.montage img#bottomleft {
    position: absolute;
    top: 30em;
}

.montage img#bottomcenter {
    position: absolute;
    left: 38em;
    top: 30em;
}

.montage img#bottomright {
    position: absolute;
    left: 76em;
    top: 30em;
}

.montage h1 {
    /*position: absolute;*/
    text-align: center;
}


#bar {
    height: 2px;
    background: #000;
    width: 100%;
    position: absolute;
    z-index: -99;
    top: 50%;
}
