html {
    font-size: 16px;
}

body {
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
}

#timeline {
    width: 8000px;
    height: 80%;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 10%;
    min-height: 40em;
}

.entry {
    display: inline-block;
    width: 120em;
    height: 100%;
    float: left;
    margin-left: 16em;
    margin-right: 16em;
    border: 2px solid;
    border-color: #000;
}

.article {
    position: absolute;
    border: 2px solid;
    border-radius: 2em;
    border-color: #000;
    background-color: #CCC;
    height: 36em;
    width: 52em;
    top: 50%;
    margin-left: 32em;
    margin-top: -19em;
    padding: 1em;
}

.simple {}

.simple div {
    position: absolute;
    left: 21em;
    margin-left: 1em;
    margin-right: 1em;
}

.simple img {
    position: absolute;
}

.simple h1 {
    text-align: center;
}

#bar {
    height: 2px;
    background: #000;
    width: 100%;
    position: absolute;
    z-index: -99;
    top: 50%;
}
