html {
    font-size: 16px;
}

body {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
    background: #FFFFFF
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
}

#timeline {
    width: 8000px;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    min-height: 680px;
}

 #clickpoint {
    width: 20px;
    height: 20px;
    background: #BCED91;
    border: 4px solid white;
    border-radius: 50px;
    box-shadow: 0 0 0 2px;
    z-index: -98;
    top: 50%;
    margin-top: -13px;
    position: absolute;
    left: 77em;
}
.entry {
    display: inline-block;
    width: 120em;
    height: 100%;
    float: left;
    margin-left: 16em;
    margin-right: 16em;
}

.article {
    position: absolute;
    top: 50%;
    padding: 1em;
    background: #FFFFFF;
    opacity: 0.8;
}

/* -- Date Navigation -- */
.nav-container {
    position: fixed;
    right: 0;
    left: 0;
    height: 60px;
    z-index: 99;
}

.nav {
    position: absolute;
    left: 14%;
    top: 6px;
    height: 42px;
}

.nav ul {
    list-style: none;
    font-size: 112.5%;
}

.nav ul li {
    display: inline;
    margin-top: 10px;
    padding: 6px;
    border-left: 1px solid #E1E1E1;
    font-size:25px;
}

.nav ul li:first-child {
    padding-left: 0;
    border-left: 0;
}

.nav ul li a {
    text-decoration: none;
    color: #E1E1E1;
 }

.nav ul li a:hover {
    color: #AEAEAE;
}

/* -- Social Media Buttons -- */
.social-container {
    position: fixed;
    right: 0;
    left: 0;
    height: 95px;
    z-index: 99;
    bottom: 0;
}

.social {
    width: 415px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.social ul {
    list-style: none
}

.social li {
    display: inline-block;
    padding: 4px;
}


/* --  Simple template -- */
.article.simple {
    height: 50em;
    margin-left: 10em;
    margin-top: -26em;
    width: 90em;
}

.simple div {
    position: absolute;
    left: 53em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -1.4em;
}

.simple img#top {
    position: absolute;
    display: inline-block;
}

.simple img#bottom {
    position: absolute;
    display: inline-block;
    bottom: 10px;
}
.simple h1 {
    text-align: left;
}

/* --  Montage template -- */
.article.montage {
    height: 56em;
    width: 108em;
    margin-left: 5em;
    margin-top: -29em;
}

.montage img#topleft {
    position: absolute;
}

.montage img#topcenter {
    position: absolute;
    left: 38em;
}

.montage img#topright {
    position: absolute;
    left: 76em;
}

.montage img#bottomleft {
    position: absolute;
    top: 30em;
}

.montage img#bottomcenter {
    position: absolute;
    left: 38em;
    top: 30em;
}

.montage img#bottomright {
    position: absolute;
    left: 76em;
    top: 30em;
}

.montage h1 {
    /*position: absolute;*/
    text-align: center;
}


#bar {
    height: 1px;
    background: #000;
    width: 100%;
    position: absolute;
    z-index: -99;
    top: 50%;
}

