html {
    font-size: 16px;
}

body {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
    background: #ebebeb
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
}

#timeline {
    width: 8000px;
    height: 80%;
    margin: 0;
    padding: 0;
    position: absolute;
    min-height: 800px;
}

.clickpoint {
    width: 20px;
    height: 20px;
    background: #BCED91;
    border: 4px solid white;
    border-radius: 50px;
    box-shadow: 0 0 0 2px;
    top: 50%;
    position: absolute;
    left: 50%;
    visibility: visible;
}

div.clickpoint a {
    position:absolute;
    width:100%;
    height:100%; top:0;
    left:0;
    text-decoration: none; /* Makes sure the link   doesn't get underlined */
    z-index:10;
}

#startpoint {
    width: 20em;
    height: 20em;
    position: absolute;
    top: 38%;
    left: 53em;
}

#logo{
    padding: 14px;
}

.entry {
    display: inline-block;
    width: 200em;
    height: 100%;
    margin-left: 16em;
    margin-right: 16em;
}

.article {
    position: absolute;
    top: 50%;
    padding: 1em;
    height: 50em;
    width: 90em;
    visibility:hidden;


}

p {
    font-size: 15px;
}

/* -- Date Navigation -- */
.nav-container {
    position: fixed;
    right: 0;
    left: 0;
    height: 60px;
    background: #FFFFFF;
    z-index: 9999;
}

.nav {
    position: absolute;
    left: 14%;
    height: 42px;
    top: 8px;
}

.nav ul {
    list-style: none;
}

.nav ul li {
    display: inline;
    margin-top: 10px;
    padding: 6px;
    border-right: 1px solid #C0C0C0;
    font-size:18px;
}

.nav ul li:first-child {
    padding-left: 0;
}

.nav ul li a {
    text-decoration: none;
    color:#C0C0C0;
 }

.nav ul li a:hover {
    color:#BCED91;
}


/* --  Simple template -- */
.article.simple {
    margin-left: 5em;
    margin-top: -27.3em;
}

.simple div.content {
    position: absolute;
    left: 53em;
    margin-left: 1em;
    margin-right: 1em;
    margin-top: -1.4em;
    top: 39px;
}

.simple img#top {
    position: relative;
    float: left;
    top: 30px;
    padding-right: 30px;
}

.simple img#bottom {
    position: absolute;
    display: inline-block;
    bottom: 14px;
    left: 10px;
}
.simple h1 {
    text-align: left;
}

/* --  Montage template -- */
.article.montage {
    margin-left: 5em;
    margin-top: -27.3em;
}


.montage img#top {
    position: relative;
    float: left;
    top: 30px;
    padding-right:30px;
}


.montage img#bottom {
    position: absolute;
    display: inline-block;
    left: 38em;
    bottom: 14px;
    left: 31em;
}


.montage div#bottomleft {
    position: absolute;
    top:29em;
    width:270px;
}

#bar {
    height: 1px;
    background: #000;
    width: 100%;
    position: absolute;
    z-index: -99;
    top: 50%;
    left: 62em;
}
