@import "simple.css";
@import "montage.css" ;
@import "nav.css";
@import "social.css";
@import "clickpoint.css";

html {
    font-size: 16px;
}

body {
    font-size: 62.5%;
    font-family: Helvetica, Arial, sans-serif;
    background: #FFFFFF
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
}

#timeline {
    width: 8000px;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    min-height: 680px;
}


.entry {
    display: inline-block;
    width: 120em;
    height: 100%;
    float: left;
    margin-left: 16em;
    margin-right: 16em;
}

.article {
    position: absolute;
    top: 50%;
    padding: 1em;
    background: #FFFFFF;
    opacity: 0.8;
}

#bar {
    height: 1px;
    background: #000;
    width: 100%;
    position: absolute;
    z-index: -99;
    top: 50%;
}
