html {
    font-size: 16px;
}

body {
    font-size: 62.5%;
}

html,
body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow-x: auto;
    overflow-y: hidden;
}

#main {
    min-height: 48em;
    height: 100%;
}

.timeline {
    position: absolute;
    width:100%;
    height:96%;
    top:2%;
    padding: 0;
    z-index:-999;
}

.bar {
    height: 2px;
    background: #000;
    width: 100%;
    position: absolute;
    z-index: -998;
    top: 40%;
}


.entry {
    display:inline-block;
    position: absolute;
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    text-align: center;
    min-width: 950px;
    min-height: 600px;
}

.content.simple {
    background:#E6EBE6;
    color:#fff;
    padding:10px;
    font-size:10px;
    position:absolute;
    border:2px solid #000;
    left: 40%;
    top: 38%;
    z-index: 997;
    max-height: 50%;
}

.content.simple img {
    display:block;
    max-width:45%;
    height:auto;
    margin-bottom:10px;
}

.content.simple h1 {
    color:#fff;
    font-size:18px;
    font-family:Georgia, serif;
    font-weight:bold;
    margin-bottom:10px;
}

.content.simple h2 {
    letter-spacing:.2em;
    margin-bottom:10px;
    font-size:14px;
}





/*.block {
  position: relative;
  top: 50%;
  height:50%;
  min-height:100%;
  transform: translateY(-50%);
}

body {
    width:100%;
    height:100%;
    min-height:100%;
    z-index:-999;
    margin:0;
    padding:0;
}

.column, .columns{
  min-height: 1px;
}

.content {
  background-color:#E6EBE6;
  border-style: solid;
  border-width: 5px;
}

.image {
    margin:5px;
}*/
