@import "simple.css";
@import "montage.css" ;
@import "nav.css";
@import "social.css";
@import "clickpoint.css";

html {
    font-size: 16px;
}

body {
    font-size: 62.5%;
    font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
    background: #FFFFFF;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    overflow-y: auto;
}

h1, {
     font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
     font-weight: 600;
}

#timeline {
    width: 100000px;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
    min-height: 680px;
}

#scrolltext {
    position: fixed;
    bottom: 20px;
    width: 500px;
    z-index: 99;
    height: 50px;
    right: 5%;
    opacity: 0;
    visibility:hidden;
}

#scrolltext h2 {
    color: #E1E1E1;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    font-size: 25px;
}

.entry {
    display: inline-block;
    width: 120em;
    height: 100%;
    float: left;
    padding-right:110em;
}

.article {
    position: absolute;
    top: 50%;
    padding: 1em;
}

.article.start {
    height: 40em;
    width: 40em;
    margin-left: 75em;
    margin-top: -20em;
    opacity: 1;
}

.content {
    font-size: 15px;
}

#bar {
    height: 1px;
    background: #000;
    width: 35500px;
    position: absolute;
    z-index: -99;
    top: 50%;
    left: 90em;
}
