/* --  Montage template -- */
.article.montage {
    height: 50em;
    width: 108em;
    margin-left: 5em;
    margin-top: -26em;
}

.montage img#top {
    position: relative;
    float: left;
    padding-right:30px;
}
.montage img#bottom {
    position: absolute;
    display: inline-block;
    left: 38em;
    bottom: 14px;
    left: 31em;
}
.montage div#bottomleft {
    position: absolute;
    top:29em;
    width:270px;
}
