/* -- Date Navigation -- */
.nav-container {
    position: fixed;
    right: 0;
    left: 0;
    height: 60px;
    z-index: 99;
}

nav#date-navigation {
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

nav#date-navigation ul {
    list-style: none;
    font-size: 112.5%;
}

nav#date-navigation ul li {
    display: inline-block;
    margin-top: 10px;
    padding: 6px;
    border-left: 1px solid #E1E1E1;
    font-size:25px;
}

nav#date-navigation ul li:first-child {
    padding-left: 0;
    border-left: 0;
}

nav#date-navigation a {
    text-decoration: none;
    color: #E1E1E1;
 }

nav#date-navigation a:hover {
    color: #AEAEAE;
}

nav#date-navigation a:active {
    color: #AEAEAE;
}
