/* -- Social Media Buttons -- */
.social-container {
    position: fixed;
    right: 0;
    left: 0;
    height: 50px;
    z-index: 99;
    bottom: 0;
}

.social {
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
}

.social ul {
    list-style: none
}

.social li {
    display: inline-block;
    padding: 4px;
}
