<div class="article simple">
    <div id="clickpoint"><a href="#"></a></div>
    <img id='top' src="{{image_1}}"/> <!-- expects 500px * 200px -->
    <div>
        <h1>{{title}}</h1>
        <p class="content">{{{content}}}</p>
    </div>
    <img id='bottom' src="{{image_2}}"/> <!-- expects 900px * 200px -->

</div>
