{% block social %}
{% load staticfiles %}

<div class="social-container">
    <ul class="social">
        <li>
            <a href=#>
                <img src="{% static 'img/facebook-logo.png' %}"></img>
            </a>
        </li>
        <li>
            <a href=#>
                <img src="{% static 'img/twitter-logo.png' %}"></img>
            </a>
        </li>
        <li>
            <a href=#>
                <img src="{% static 'img/hogarthww-logo.png' %}"></img>
            </a>
        </li>
        <li>
            <a href=#>
                <img src="{% static 'img/linkedin-logo.png' %}"></img>
            </a>
        </li>
        <li>
            <a href=#>
                <img src="{% static 'img/email-logo.png' %}"></img>
            </a>
        </li>
    </ul>
</div>

{% endblock social %}
