{% block social %}
{% load staticfiles %}

<div class="social-container">
    <ul class="social">
        <li>
            <a href='http://facebook.com/hogarthww' target="_blank">
                <img src="{% static 'img/facebook-logo.png' %}">
            </a>
        </li>
        <li>
            <a href='http://twitter.com/hogarthww' target="_blank">
                <img src="{% static 'img/twitter-logo.png' %}">
            </a>
        </li>
        <li>
            <a href='http://www.hogarthww.com' target="_blank">
                <img src="{% static 'img/hogarthww-logo-social.png' %}">
            </a>
        </li>
        <li>
            <a href='https://linkedin.com/company/hogarth-worldwide' target="_blank">
                <img src="{% static 'img/linkedin-logo.png' %}">
            </a>
        </li>
        <li>
            <a href='careers@hogarthww.com'>
                <img src="{% static 'img/email-logo.png' %}">
            </a>
        </li>
    </ul>
</div>

{% endblock social %}
