{% block social %}

<div class="social-media-container">
    <div class="social-media-buttons">
        <ul>
            <li>
                <a href=#>
                    <img src="static/media/fb_Social-Media-Icons.png" id="logo"></img>
                </a>
            </li>
            <li>
                <a href=#>
                    <img src="static/media/linked-in_Social-Media-Icons.png" id="logo"></img>
                </a>
            </li>
            <li>
                <a href=#>
                    <img src="static/media/twitter_Social-Media-Icons.png" id="logo"></img>
                </a>
            </li>

        </ul>
    </div>
</div>

{% endblock social %}
