{% extends 'base.html' %}
{% block timeline %}

<div class="nav-container">
        <a href="/">
            <img src="static/media/H-Log0_33px.png" id="logo"></img>
        </a>
    <div class="nav">
        <ul>
            <li><a href=#>January</a></li>
            <li><a href=#>Febuary</a></li>
            <li><a href=#>March</a></li>
            <li><a href=#>April</a></li>
            <li><a href=#>May</a></li>
            <li><a href=#>June</a></li>
            <li><a href=#>July</a></li>
            <li><a href=#>August</a></li>
            <li><a href=#>September</a></li>
            <li><a href=#>October</a></li>
            <li><a href=#>November</a></li>
            <li><a href=#>December</a></li>
        </ul>
    </div>
</div>
<div class="social-media-container">
    <div class="social-media-buttons">
        <ul>
            <li>
                <a href=#>
                    <img src="static/media/fb_Social-Media-Icons.png" id="logo"></img>
                </a>
            </li>
            <li>
                <a href=#>
                    <img src="static/media/linked-in_Social-Media-Icons.png" id="logo"></img>
                </a>
            </li>
            <li>
                <a href=#>
                    <img src="static/media/twitter_Social-Media-Icons.png" id="logo"></img>
                </a>
            </li>

        </ul>
    </div>
</div>
<ul id="timeline">
    <div id="bar"></div>
    <li class="entry">
        <a href="#">
            <img src="static/media/Day-in-the-Life-Logo_v2.png" id="startpoint"></div>
        </a>
    </li>
</ul>


{% endblock timeline %}
