{% extends 'base.html' %}
{% load staticfiles %}
{% block timeline %}


<div class="bar"></div>

<div class="timeline">

    <div class="entry">
        <div class="content-simple">
            <img src="http://placekitten.com/g/300/300" alt="placekitten"/>
            <h1>1990</h1>
            <h2>Entry Title</h2>
            Now that we know who you are, I know who I am. I'm not a mistake! Itall makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
        </div>
    </div>

</div>








<!-- <div class="block row">
    <div class="large-12 columns">
        <div class="row" >
            <div class="large-4 columns" ></div>
            <div class="large-8 columns content">
                <div class="large-6 columns" >
                    <div class="image">
                        <img src="http://placekitten.com/g/300/300" alt="placekitten">
                    </div>
                </div>
                <div class="large-6 columns">
                    <header>TITLE</header>
                    Now that we know who you are, I know who I am. I'm not a mistake! It all makes sense! In a comic, you know how you can tell who the arch-villain's going to be? He's the exact opposite of the hero. And most times they're friends, like you and me! I should've known way back when... You know why, David? Because of the kids. They called me Mr Glass.
                </div>
            </div>
        </div>
    </div>
</div>
 -->





{% endblock timeline %}
