<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hogarth Graduate Scheme Timeline</title>
    {% load staticfiles %}

    <!--     <link rel="shortcut icon" href="../../assets/ico/favicon.ico"> TODO -->

    <!-- CSS -->
    <link href="{% static 'css/base.css' %}" rel="stylesheet">

  </head>
  <body style="background-image: url('{% static 'img/background.png' %}');background-attachment: fixed;width:4000px">
    {% block timeline %}{% endblock timeline %}

  </body>
</html>
